<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.83.0" targetFramework="native">
    <description>Boost is a collection of portable C++ source libraries aimed at aiding the development of portable, efficient, and well-designed software.</description>
    <homepage>https://www.boost.org/</homepage>
    <repository>https://github.com/boostorg/boost</repository>
    <license type="Boost Software License - Version 1.0">The Boost Software License is a permissive free software license.</license>
    <dependencies>
      <dependency id="python" version="3.8" />
    </dependencies>
  </package>
</packages>
